@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
  --background: oklch(0.9706 0.0075 186.8936);
  --foreground: oklch(0.2823 0.0277 176.6299);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2823 0.0277 176.6299);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2823 0.0277 176.6299);
  --primary: oklch(0.5431 0.0927 194.7689);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9192 0.0162 187.3123);
  --secondary-foreground: oklch(0.4378 0.0380 180.9939);
  --muted: oklch(0.9556 0.0076 186.8898);
  --muted-foreground: oklch(0.5918 0.0302 178.9944);
  --accent: oklch(0.8457 0.0567 184.9187);
  --accent-foreground: oklch(0.2823 0.0277 176.6299);
  --destructive: oklch(0.6875 0.1420 21.4566);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8922 0.0156 181.7371);
  --input: oklch(0.9556 0.0076 186.8898);
  --ring: oklch(0.5431 0.0927 194.7689);
  --chart-1: oklch(0.5431 0.0927 194.7689);
  --chart-2: oklch(0.7124 0.0977 186.6761);
  --chart-3: oklch(0.7912 0.0755 188.2377);
  --chart-4: oklch(0.8708 0.0470 189.6325);
  --chart-5: oklch(0.3755 0.0700 176.3952);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.4378 0.0380 180.9939);
  --sidebar-primary: oklch(0.5431 0.0927 194.7689);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9556 0.0076 186.8898);
  --sidebar-accent-foreground: oklch(0.2823 0.0277 176.6299);
  --sidebar-border: oklch(0.8922 0.0156 181.7371);
  --sidebar-ring: oklch(0.5431 0.0927 194.7689);
  --font-sans: Inter;
  --font-serif: Lora;
  --font-mono: Fira Code;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0px;
  --spacing: 0.25rem;
  --shadow-color: #000000;
  --shadow-opacity: 0.1;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0px;
}

.dark {
  --background: oklch(0.2504 0.0143 188.7377);
  --foreground: oklch(0.9254 0.0076 186.8817);
  --card: oklch(0.2853 0.0168 183.8263);
  --card-foreground: oklch(0.9254 0.0076 186.8817);
  --popover: oklch(0.2853 0.0168 183.8263);
  --popover-foreground: oklch(0.9254 0.0076 186.8817);
  --primary: oklch(0.7124 0.0977 186.6761);
  --primary-foreground: oklch(0.2143 0.0175 183.1091);
  --secondary: oklch(0.3496 0.0202 181.5089);
  --secondary-foreground: oklch(0.8173 0.0169 182.6113);
  --muted: oklch(0.3102 0.0153 183.0378);
  --muted-foreground: oklch(0.6882 0.0197 184.0039);
  --accent: oklch(0.4378 0.0380 180.9939);
  --accent-foreground: oklch(0.9254 0.0076 186.8817);
  --destructive: oklch(0.7716 0.1024 19.6700);
  --destructive-foreground: oklch(0.2853 0.0168 183.8263);
  --border: oklch(0.3943 0.0209 182.5275);
  --input: oklch(0.3102 0.0153 183.0378);
  --ring: oklch(0.7124 0.0977 186.6761);
  --chart-1: oklch(0.7124 0.0977 186.6761);
  --chart-2: oklch(0.6563 0.1071 185.3446);
  --chart-3: oklch(0.5655 0.1010 182.4536);
  --chart-4: oklch(0.5166 0.0931 181.0803);
  --chart-5: oklch(0.4668 0.0845 180.3974);
  --sidebar: oklch(0.2853 0.0168 183.8263);
  --sidebar-foreground: oklch(0.8173 0.0169 182.6113);
  --sidebar-primary: oklch(0.7124 0.0977 186.6761);
  --sidebar-primary-foreground: oklch(0.2143 0.0175 183.1091);
  --sidebar-accent: oklch(0.3496 0.0202 181.5089);
  --sidebar-accent-foreground: oklch(0.9254 0.0076 186.8817);
  --sidebar-border: oklch(0.3943 0.0209 182.5275);
  --sidebar-ring: oklch(0.7124 0.0977 186.6761);
  --font-sans: Inter;
  --font-serif: Lora;
  --font-mono: Fira Code;
  --radius: 0.5rem;
  --shadow-2xs: 0px 5px 15px 0px hsl(0 0% 0% / 0.13);
  --shadow-xs: 0px 5px 15px 0px hsl(0 0% 0% / 0.13);
  --shadow-sm: 0px 5px 15px 0px hsl(0 0% 0% / 0.25), 0px 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow: 0px 5px 15px 0px hsl(0 0% 0% / 0.25), 0px 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow-md: 0px 5px 15px 0px hsl(0 0% 0% / 0.25), 0px 2px 4px -1px hsl(0 0% 0% / 0.25);
  --shadow-lg: 0px 5px 15px 0px hsl(0 0% 0% / 0.25), 0px 4px 6px -1px hsl(0 0% 0% / 0.25);
  --shadow-xl: 0px 5px 15px 0px hsl(0 0% 0% / 0.25), 0px 8px 10px -1px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0px 5px 15px 0px hsl(0 0% 0% / 0.63);
  --shadow-color: #000000;
  --shadow-opacity: 0.25;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 5px;
  --letter-spacing: 0px;
  --spacing: 0.25rem;
}

body {
    letter-spacing: var(--tracking-normal);
}
  .theme {
    --font-sans: Inter;
    --font-mono: Fira Code;
    --font-serif: Lora;
    --radius: 0.5rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}